p.error {
    color:red;
    font-weight: bold;
    width:70%;
    max-width: 400px;
}
p.success{
    color:green;
    font-weight: bold;
    width:70%;
    max-width: 400px;
}
th, td {
    font-weight: lighter;
    border-bottom: 1px solid #ddd;
    vertical-align: middle;
    text-align:  left;
}
table{
    width: 85%;
    min-width: 1000px;
}
th.date, td.date {
    font-weight: lighter;
    border-bottom: 1px solid #ddd;
    vertical-align: middle;
    text-align: justify;
    width:160px;
}
th.action, td.action {
    font-weight: lighter;
    border-bottom: 1px solid #ddd;
    vertical-align: middle;
    text-align: center;
    width:90px;
}
form.mybutton{
    display: inline;
}
a.rightalign{
    position: absolute;
    right: 0px;
}
